.updateTeacher-Btn {
  background-color: rgb(184, 240, 94);
  color: rgb(70, 68, 68);
  border-radius: 5px;
  border: none;
  padding: 10px;
}
.updateTeacher-Btn:hover {
  background-color: rgb(152, 231, 24);
}

.updateForm {
  margin: 20px 0 50px 0;
}
.deleteTeacher {
  width: 80%;
  padding: 5px;
  margin: 10px 0px 10px 0px;
}

.deleteWarning {
  color: red;
  width: 80%;
  margin: 20px 0px 20px 0px;
}

.inputName {
  width: 60%;
  margin-bottom: 10px;
}

.updateName {
  margin: -20px 0px 50px 30px;
}

.updateEmail-Btn {
  background-color: rgb(241, 195, 109);
  color: rgb(70, 68, 68);
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-top: 5px;
}

.updateEmail-Btn:hover {
  background-color: rgb(235, 169, 48);
}

.signUpDate {
  color: rgb(83, 81, 81);
  padding: 10px;
  float: right;
}

.inputEmail {
  width: 60%;
}

.updateEmail {
  margin: 30px;
}

.currentEmail {
  color: teal;
  font-size: 10pt;
}
