.wrapper {
  font-family: "Montserrat", sans-serif;
  background-image: url("./childReading.jpg");
  background-color: rgb(214, 248, 248);
  height: auto;
  background-size: cover;
  background-image: no-repeat;
  padding-bottom: 5%;
}
