.jumbotron {
  text-align: center;
  background-color: rgb(145, 250, 245);
}

.logo-jumbo-bar {
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  /* -webkit-box-reflect: below -10px -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(transparent),
      color-stop(0.5, transparent),
      to(white)
    ); */
}
