.jumbotron {
  text-align: center;
  /* background-color: rgb(145, 250, 245); */

  background: rgb(173, 252, 251);
  background: radial-gradient(
    circle,
    rgba(173, 252, 251, 1) 0%,
    rgba(102, 234, 236, 1) 100%
  );
}

.logo-jumbo-bar {
  height: 130px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 50px;
  height: 50px;
  position: relative;
  animation: mymove 10s infinite;
  animation-delay: 1s;
  animation-direction: alternate;
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 680px;
  }
}
