.container {
  position: relative;
  background-color: white;
  opacity: 0.9;
  padding: 10px;
  margin-top: 4%;
  border-radius: 20px;
  min-height: 70vh;
}

@media only screen and (max-width: 400px) {
  .container {
    width: 300px;
  }
}
