.footer {
  background-color: rgb(57, 245, 235);
  color: #5c5c5c;
  text-align: center;
  height: 90px;
  padding: 30px;
  border-top: 4px solid #3dad9e;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 16px;
}
