.dropdown-item:hover {
  background-color: #c8f5ef;
}
.navbar {
  border-top: 4px solid #cc2098;
  border-bottom: 4px solid #8720cc;
}

.home-nav {
  color: white !important;
  margin-right: 5px;
  text-shadow: 1px 1px 3px rgb(27, 27, 27);
  padding: 20px;
  border-radius: 10px 5px 0px 5px;
}

.home-nav:hover {
  border-radius: 10px;
  color: #baece6 !important;
  text-decoration: underline;
}

.icon-settings:hover {
  color: #20ccb6;
}

.tab-bar {
  background-color: #6d6b6b !important;
}
