.accordion {
  width: 300px;
  margin-top: 10px;
  margin-left: 10px;
}

.add-student-link {
  color: #ffffff;
  background-color: #2ac0ad;
  border: none;
  float: right;
}

.add-student-link:hover {
  background-color: #2ac0ad;
}

.delete-student-link,
.delete-student-link:hover {
  color: rgb(245, 50, 50);
  background-color: #ffffff;
  border: none;
  float: right;
  font-size: 20pt;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #2ac0ad;
}

.list-group-item:hover {
  color: #495057;
  background-color: #f8f9fa;
}

.matrix-amt-badge {
  /* margin-left: 135px; */
  float: right;
  font-size: 50%;
  color: #ffffff;
  background-color: #2ac0ad;
}

.studentBtnLink {
  color: #495057;
}

.studentBtnLink:focus {
  color: #2ac0ad;
  text-decoration: none;
}

.studentBtnLink:hover {
  color: #2ac0ad;
  text-decoration: none;
}

.student-list-header {
  background-color: #2ac0ad;
}

.student-list-header-link {
  color: #ffffff !important;
}

/* .student-list-header-link:hover {
    text-decoration: none !important;
} */

.update-student-link {
  margin-top: 10px;
  background-color: rgb(45, 187, 187);
  border: none;
}

.update-student-link:hover {
  background-color: rgb(45, 187, 187);
  opacity: 0.8;
}

.new-matrix {
  /* background-color: rgb(10, 116, 110); */
  background-color: rgb(209, 33, 150);
  border: none;
}
.new-matrix:hover {
  opacity: 0.8;
  background-color: rgb(209, 33, 150);
}
