.contactList {
  padding: 10px;
  list-style-type: none;
}

.location-map {
  border: none;
  width: 100%;
  height: 400px;
  padding: 10px;
}

.name,
.mail {
  width: 100%;
}

.contact-form {
  padding: 10px;
  padding-left: 40px;
  color: #666666;
}

.messagebox {
  width: 100%;
  height: 100px;
}

.contact-btn {
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: white;
  margin: 10px;
  background-color: rgb(43, 189, 189);
}
