.dropdown-item:hover {
  background-color: #c8f5ef;
}
.navbar {
  font-size: 14pt;
  margin-top: -33px;
  border-top: 4px solid #ce5aab;
  border-bottom: 4px solid #ab60dd;
  padding-left: 3%;
  padding-right: 3%;
}

.main {
  background-color: transparent;
  border-color: transparent;
  color: white !important;
  margin-right: 5px;
  text-shadow: 1px 1px 3px rgb(27, 27, 27);
  padding: 20px;
  border-radius: 10px 5px 0px 5px;
}

.main:hover {
  color: #baece6 !important;
  text-decoration: underline;
}

.icon-settings:hover {
  color: #baece6;
}

.tab-bar {
  background: rgb(51, 51, 51);
  background: linear-gradient(
    90deg,
    rgba(51, 51, 51, 0.9346113445378151) 0%,
    rgb(104, 110, 110) 100%
  );
}
